{{- if and (eq .Values.mode "replica" ) (eq .Values.replica.origin.objectStore.provider "azure") .Values.replica.origin.objectStore.secret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ default (printf "%s-origin-azure-creds" (include "cluster.fullname" .)) .Values.replica.origin.objectStore.secret.name }}
  namespace: {{ include "cluster.namespace" . }}
data:
  AZURE_CONNECTION_STRING: {{ .Values.replica.origin.objectStore.azure.connectionString | b64enc | quote }}
  AZURE_STORAGE_ACCOUNT: {{ .Values.replica.origin.objectStore.azure.storageAccount | b64enc | quote }}
  AZURE_STORAGE_KEY: {{ .Values.replica.origin.objectStore.azure.storageKey | b64enc | quote }}
  AZURE_STORAGE_SAS_TOKEN: {{ .Values.replica.origin.objectStore.azure.storageSasToken | b64enc | quote }}
{{- end }}
