{{- if .Values.backups.enabled }}
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: {{ include "cluster.fullname" . }}-recovery
spec:
  configuration:
    retentionPolicy: {{ .Values.backups.retentionPolicy }}
    wal:
      compression: {{ .Values.backups.wal.compression }}
      {{- if .Values.backups.wal.encryption }}
      encryption: {{ .Values.backups.wal.encryption }}
      {{- end }}
      maxParallel: {{ .Values.backups.wal.maxParallel }}
    data:
      compression: {{ .Values.backups.data.compression }}
      {{- if .Values.backups.data.encryption }}
      encryption: {{ .Values.backups.data.encryption }}
      {{- end }}
      jobs: {{ .Values.backups.data.jobs }}
    {{- if eq .Values.mode "recovery" }}
    {{- $d := dict "chartFullname" (include "cluster.fullname" .) "scope" .Values.recovery "secretPrefix" "recovery" -}}
    {{- include "cluster.barmanObjectStoreConfig" $d | nindent 2 }}
    {{- else if eq .Values.mode "replica" }}
    {{- $d := dict "chartFullname" (include "cluster.fullname" .) "scope" .Values.replica.origin.objectStore "secretPrefix" "origin" -}}
    {{- include "cluster.barmanObjectStoreConfig" $d | nindent 2 }}
    {{- end }}
{{- end }}


