{{- $alert := "CNPGClusterLogicalReplicationApplyLagWarning" -}}
{{- if not (has $alert .excludeRules) -}}
alert: {{ $alert }}
annotations:
  summary: ParadeDB CNPG Cluster high logical replication apply lag
  description: |-
    ParadeDB CloudNativePG Cluster's "{{ .namespace }}/{{ .cluster }}" "{{ "{{ .subname }}" }}" subscription is experiencing a high apply lag of {{ .value }}s.

    Apply lag measures the time delay between receiving and actually applying changes. Unlike receipt lag, apply lag indicates processing bottlenecks on the subscriber side.
    - Warning level: Subscriber is falling behind in processing received changes
    - Monitor for trends and consider resource scaling if persistent
  runbook_url: https://github.com/paradedb/charts/blob/main/charts/paradedb/docs/runbooks/{{ $alert }}.md
expr: |
  label_replace(max by (namespace, job, subname) (cnpg_pg_stat_subscription_apply_lag_seconds), "cluster", "$1", "job", ".+/(.+)") > 60
for: 5m
labels:
  severity: warning
  namespace: {{ .namespace }}
  cnpg_cluster: {{ .cluster }}
{{- end -}}