{{- $alert := "CNPGClusterLogicalReplicationApplyLagCritical" -}}
{{- if not (has $alert .excludeRules) -}}
alert: {{ $alert }}
annotations:
  summary: ParadeDB CNPG Cluster very high logical replication apply lag
  description: |-
    ParadeDB CloudNativePG Cluster's "{{ .namespace }}/{{ .cluster }}" "{{ "{{ .subname }}" }}" subscription is experiencing a very high apply lag of {{ .value }}s!

    Apply lag measures the time delay between receiving and actually applying changes. High apply lag indicates the subscriber is struggling to process incoming changes fast enough, which can be caused by:
    - Slow disk I/O on the subscriber
    - Resource contention (CPU/memory)
    - Complex transactions or large batch operations
    - Locks or blocking queries on subscriber tables
  runbook_url: https://github.com/paradedb/charts/blob/main/charts/paradedb/docs/runbooks/{{ $alert }}.md
expr: |
  label_replace(max by (namespace, job, subname) (cnpg_pg_stat_subscription_apply_lag_seconds), "cluster", "$1", "job", ".+/(.+)") > 300
for: 5m
labels:
  severity: critical
  namespace: {{ .namespace }}
  cnpg_cluster: {{ .cluster }}
{{- end -}}